{% include 'sitio/cabecera.html' %}

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <img
          class="card-img-top"
          src="https://cdn.asaha.com/assets/thumbs/148/148b98f77dcd3325ebb24121accb613a.jpg"
          alt="Title"
        />
        <div class="card-body">
          <h4 class="card-title">Python programacion</h4>
          <p class="card-text">
            <a
              name=""
              id=""
              class="btn btn-primary"
              href="http://es.pdfdrive.com/download.pdf?id=39346243&amp;h=c3420bd127bcfc3cfd295f65be4d1de2&amp;u=cache&amp;ext=pdf"
              target="_blank"
              role="button"
              >Descarga</a
            >
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img
          class="card-img-top"
          src="https://cdn.asaha.com/assets/thumbs/156/1560175726ca2bc8ebef6d55b1e4e8ea.jpg"
          alt="C-C++ Curso de Programación"
        />
        <div class="card-body">
          <h4 class="card-title">C-C++ Curso de Programación</h4>
          <p class="card-text">
            <a
              name=""
              id=""
              class="btn btn-primary"
              href="http://es.pdfdrive.com//download.pdf?id=176386316&amp;h=3c52eb0670db0946f93a14551741bf57&amp;u=cache&amp;ext=pdf"
              target="_blank"
              role="button"
              >Descarga</a
            >
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3">First Column</div>
    <div class="col-md-3">First Column</div>
  </div>
</div>

{% include'sitio/pie.html' %}
