{% include 'sitio/cabecera.html' %}

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div class="card">
        <img
          class="card-img-top"
          src="https://cdn.asaha.com/assets/thumbs/148/148b98f77dcd3325ebb24121accb613a.jpg"
          alt="Title"
        />
        <div class="card-body">
          <h4 class="card-title">Python programacion</h4>
          <p class="card-text">
            <a
              name=""
              id=""
              class="btn btn-primary"
              href="http://es.pdfdrive.com/download.pdf?id=39346243&amp;h=c3420bd127bcfc3cfd295f65be4d1de2&amp;u=cache&amp;ext=pdf"
              target="_blank"
              role="button"
              >Descarga</a
            >
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img
          class="card-img-top"
          src="https://cdn.asaha.com/assets/thumbs/156/1560175726ca2bc8ebef6d55b1e4e8ea.jpg"
          alt="C-C++ Curso de Programación"
        />
        <div class="card-body">
          <h4 class="card-title">C-C++ Curso de Programación</h4>
          <p class="card-text">
            <a
              name=""
              id=""
              class="btn btn-primary"
              href="http://es.pdfdrive.com//download.pdf?id=176386316&amp;h=3c52eb0670db0946f93a14551741bf57&amp;u=cache&amp;ext=pdf"
              target="_blank"
              role="button"
              >Descarga</a
            >
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img
          class="card-img-top"
          src="https://cdn.asaha.com/assets/thumbs/164/164044b5afed785abb69698f89ff6917.jpg"
          alt="Java para novatos: Cómo aprender programación orientada a objetos con Java sin desesperarse"
        />
        <div class="card-body">
          <h4 class="card-title">
            Java para novatos: Cómo aprender programación orientada a objetos
            con Java sin desesperarse
          </h4>
          <p class="card-text">
            <a
              name=""
              id=""
              class="btn btn-primary"
              href="http://es.pdfdrive.com/download.pdf?id=106240086&amp;h=d4c22d0da75ae147498ca938268db549&amp;u=cache&amp;ext=pdf"
              target="_blank"
              role="button"
              >Descarga</a
            >
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card">
        <img
          class="card-img-top"
          src="https://cdn.asaha.com/assets/thumbs/3d7/3d76e29473bbe8195459d7076db54003.jpg"
          alt="AngularJs Paso a Paso"
        />
        <div class="card-body">
          <h4 class="card-title">AngularJs Paso a Paso</h4>
          <p class="card-text">
            <a
              name=""
              id=""
              class="btn btn-primary"
              href="http://es.pdfdrive.com/download.pdf?id=34118445&amp;h=a94c7b630a2c5e746bd4d7018fc74be9&amp;u=cache&amp;ext=pdf"
              target="_blank"
              role="button"
              >Descarga</a
            >
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

{% include'sitio/pie.html' %}
